/* ========================================FONTS======================================== */
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter-Regular.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter-Medium.woff2) format(woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter-SemiBold.woff2) format(woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter-Bold.woff2) format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ========================================CSS RESET======================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 6.25%;
}

body {
    font-family: "Inter", Arial, sans-serif;
    color: var(--color-main);
    font-size: 16rem;
    line-height: 1.5;
}
body.lock {
    overflow: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1440rem;
    min-height: 100lvh;
    overflow-x: clip;
}

[class*="__container"] {
    margin: 0 auto;
    max-width: calc(var(--container) + var(--container-pi) * 2);
    padding-inline: var(--container-pi);
}

a {
    text-decoration: none;
    color: inherit;
}

img,
svg {
    max-width: 100%;
    display: block;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

input,
button,
textarea,
select {
    font: inherit;
    background-color: transparent;
    color: inherit;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

:focus {
    outline: var(--color-tertiary-gray) auto 0;
}
:focus-visible {
    outline-width: 2rem;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-secondary-light);
}

:root {
    --color-main: #717171;
    --color-primary: #4caf4f;
    --color-primary-dark: #388e3b;
    --color-primary-light: #e8f5e9;
    --color-secondary-dark: #18191f;
    --color-secondary-light: #f5f7fa;
    --color-secondary-gray: #263238;
    --color-secondary-lighty: #abbed1;
    --color-tertiary-gray: #4d4d4d;
    --color-white: #ffffff;

    --wrapper: 1440rem;
    --container: 1152rem;
    --container-header: 1215rem;
    --container-pi: clamp(8rem, 2.6667rem + 1.4815vw, 24rem);

    --transition-main: ease 0.3s;
}

/* ========================================TEMPLATE======================================== */
.button {
    padding: 14rem 32rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 500;
    border-radius: 4rem;
    transition: background-color var(--transition-main), color var(--transition-main);
}
.button_small {
    border-radius: 0.428571429em;
    padding: 10rem 20rem;
    font-size: 14rem;
    line-height: 1.42857;
}
.button_white {
    background-color: var(--color-secondary-light);
    color: var(--color-primary);
}
@media (hover: hover) {
    .button:hover {
        background-color: var(--color-primary-dark);
    }
    .button_white:hover {
        background-color: var(--color-primary-light);
    }
}
.button:active {
    background-color: #237d31;
}
.button_white:active {
    background-color: #c8e6c9;
}
.menu-header__link:active {
    color: #c8e6c9;
}

.block-header__title {
    color: var(--color-tertiary-gray);
    font-weight: 600;
    font-size: clamp(28rem, 24.5049rem + 0.9709vw, 36rem);
    line-height: 1.22222;
}
.block-header__title_center {
    text-align: center;
}
.block-header__title_center:not(:last-child) {
    margin-block-end: 8rem;
}
.block-header__title_big {
    font-size: clamp(38rem, 26.6408rem + 3.1553vw, 64rem);
    line-height: 1.1875;
}
.block-header__title:not(:last-child),
.block-header__title_big:not(:last-child) {
    margin-block-end: 16rem;
}
.block-header__title_big > span {
    color: var(--color-primary);
}

.block-header__text_center {
    text-align: center;
    font-size: 16rem;
}
.block-header__text:not(:last-child) {
    margin-block-end: clamp(20rem, 14.7573rem + 1.4563vw, 32rem);
}
.block-header__text_small {
    font-size: 14rem;
    line-height: 1.42857;
}
/* <div class="block-header">
        <h1 class="block-header__title"></h1>
        <div class="block-header__text">
            <p></p>
        </div>
        <button type="button" class="block-header__button button"></button>
</div> */

/* ========================================HEADER======================================== */
.header {
    background-color: var(--color-secondary-light);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10rem;
    padding-block: 6rem;
    max-width: calc(var(--container-header) + var(--container-pi) * 2);
    --header-min: clamp(50rem, 38.6667rem + 3.1481vw, 84rem);
    min-height: var(--header-min);
}

.header__logo {
}
.logo-header {
}
.logo-header__link {
}

.header__menu {
}
.menu-header {
}
.menu-header__list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem clamp(13rem, -44.4061rem + 7.4747vw, 50rem);
}
.menu-header__item {
}
.menu-header__link {
    font-weight: 500;
    color: var(--color-secondary-dark);
    transition: color var(--transition-main);
}
.menu-header__action {
    display: none;
}

.header__action {
    display: flex;
    gap: 3rem 14rem;
}
.header__logo,
.header__action {
    flex-shrink: 0;
}
.action-header {
}
.action-header__button {
}

.header__burger {
    display: none;
}

/* ========================================MAIN======================================== */
.main {
    flex-grow: 1;
}

/* ========================================FOOTER======================================== */

/* ========================================MEDIA QUERIES======================================== */
@media (hover: none) {
    body {
        -webkit-tap-highlight-color: transparent;
    }
}
@media (max-width: 51.24875em) {
    .action-header__button {
        padding-inline: 14rem;
    }
}
@media (max-width: 47.99875em) {
    .header__container::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100dvw;
        height: var(--header-min);
        background-color: var(--color-secondary-light);
    }
    .header__logo,
    .header__burger,
    .header__container::before,
    .header {
        z-index: 2;
    }
    .header__menu {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 100%;
        width: min(260rem, 100%);
        height: 100svh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        overflow-y: auto;
        row-gap: 20rem;
        background-color: var(--color-primary);
        transition: var(--transition-main);
        padding-block: calc(var(--header-min) + 2rem) 10rem;
        will-change: auto;
        padding-inline: var(--container-pi);
    }
    .header__menu.active {
        translate: -100%;
    }
    .menu-header__list {
        flex-direction: column;
        align-self: stretch;
    }
    .menu-header__link {
        text-align: right;
        width: 100%;
        display: block;
        color: var(--color-secondary-light);
        line-height: 1.8;
        font-size: 30rem;
    }
    .menu-header__action {
        display: flex;
        align-self: stretch;
        column-gap: 10rem;
    }
    .menu-header__action > button {
        flex-grow: 1;
    }
    .header__action {
        display: none;
    }
    .header__burger {
        --width: 30rem;
        --height: 20rem;
        position: relative;
        display: flex;
        align-items: center;
        width: var(--width);
        height: var(--height);
    }
    .header__burger::before,
    .header__burger::after,
    .header__burger span {
        content: "";
        position: absolute;
        background-color: var(--color-secondary-dark);
        width: 100%;
        height: var(--height-el);
        --height-el: 2rem;
        right: 0;
        transition: 0.2s;
    }
    .header__burger span {
        transform: scale(1);
    }
    .header__burger::before {
        transform: translateY(calc(var(--height) / -2 + 50%));
    }
    .header__burger::after {
        transform: translateY(calc(var(--height) / 2 - var(--height-el) + 50%));
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__burger.active::before {
        transform: rotate(-45deg);
    }
    .header__burger.active::after {
        transform: rotate(45deg);
    }
}
